.container {
    //max space, if less, simply occupy 100% of available view port width
    //1200 pixels
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
}

.content {
    display: flex;

}

.sidebar {
  background-color: var(--color-grey-dark-1);
//flexgrow 0 //flexshrink 0 flexbase// 18%;
//because flexbase is a percentage not a pixel value, it will shrink
  flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;
    background-color: orangered;
    flex: 1;
}